*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(148, 148, 148);
}
#title{
    text-align: center;
    color: white;
    font-size: 45px;
    padding: 20px 0 20px;
}

#color-palette{
    text-align: center;
}

.color{
    border: 1px solid black;
    border-radius: 20px;
    width: 80px; height: 80px;
    display: inline-block;    
    margin: 10px 10px 40px 10px;
}

#pixel-board{
    margin: 0 auto;

}

.pixel{
    width: 40px;
    height: 40px;
    background-color: rgb(255, 255, 255);
    border: 1px black solid;
    margin: auto;
}
.coluna1{
    margin-left: -168px;
}
.coluna2{
    margin-left: -84px;
    margin-top: -210px;
}
.coluna3{
    margin-left: 0px;
    margin-top: -210px;
}
.coluna4{
    margin-left: 84px;
    margin-top: -210px;
}
.coluna5{
    margin-left: 168px;
    margin-top: -210px;
}